body {
    /* So that the page won't "jitter" around when the scrollbar is visible or not. */
    overflow-y: scroll;
    margin: 0;
}

.navbar-brand {
    color: blue !important;
}

tr.unused {
    background-color: #f8fef7;
}

table {
    padding: 20px;
}

h1 {
    font-size: 2em;
}

div#info {
    margin-left: 20px;
    margin-right: 20px;
}

.no-padding {
    padding: 0px;
}

.navbar {
    border-bottom: 2px solid gray;
    margin-bottom: 15px;
}

.active-button {
    font-weight: bold;
}

.table {
    margin: 0;
}