body {
    /* So that the page won't "jitter" around when the scrollbar is visible or not. */
    overflow-y: scroll;
    margin: 0;
}

.navbar-brand {
    color: blue !important;
}

tr.used {
    background-color: ghostwhite;
}

tr.unused {
    background-color: #ecf9ea;
}

table {
    padding: 20px;
}

h1 {
    font-size: 2em;
    font-family: monospace;
}

div#info {
    margin-left: 20px;
    margin-right: 20px;
}

div#details {
    font-family: monospace;
}

.no-padding {
    padding: 0px;
}

.navbar {
    border-bottom: 2px solid gray;
    margin-bottom: 15px;
    background-color: #e3f2fd;
}

.active-button {
    font-weight: bold;
}

.table {
    margin: 0;
}

.entry {
    /* No content as of now. */
}

#done-gem {
    font-size: 5em;
    color: darkgoldenrod;
}