.navbar-brand {
    color: blue !important;
}

tr.unused {
    background-color: #eef6ed;
}

table {
    padding: 20px;
}

h1 {
    font-size: 2em;
}

div#info {
    margin-left: 20px;
    margin-right: 20px;
}

.no-padding {
    padding: 0px;
}

.navbar {
    border-bottom: 2px solid gray;
    margin-bottom: 15px;
}