<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:fragment="head(title)">

    <title th:text="'Gem - ' + ${title}">Gem</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="/js/main.js" th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" href="/css/main.css" th:href="@{~/css/main.css}" type="text/css" />

</head>

<body>

<div th:fragment="menu">
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand title-text" href="/"><i class="far fa-gem"></i> Gem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/fetch?key=ENTER_KEY_HERE"><i class="fas fa-forward"></i> Fetch (key
                        needed)</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDebug" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bug"></i> Debug
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownDebug">
                        <a class="dropdown-item" href="/debug/fetch">Fetch</a>
                        <a class="dropdown-item" href="/debug/random">Fetch (random)</a>
                    </div>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-industry"></i> Generate
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form th:action="@{/debug/generate}" method="POST">
                            <input type="hidden" name="amount" value="1" />
                            <button type="submit" class="dropdown-item">Generate 1</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/debug/generate}" method="POST">
                            <input type="hidden" name="amount" value="5" />
                            <button type="submit" class="dropdown-item">Generate 5</button>
                        </form>
                        <form th:action="@{/debug/generate}" method="POST">
                            <input type="hidden" name="amount" value="10" />
                            <button type="submit" class="dropdown-item">Generate 10</button>
                        </form>
                        <form th:action="@{/debug/generate}" method="POST">
                            <input type="hidden" name="amount" value="25" />
                            <button type="submit" class="dropdown-item">Generate 25</button>
                        </form>
                        <form th:action="@{/debug/generate}" method="POST">
                            <input type="hidden" name="amount" value="100" />
                            <button type="submit" class="dropdown-item">Generate 100</button>
                        </form>
                        <form th:action="@{/debug/generate}" method="POST">
                            <input type="hidden" name="amount" value="1000" />
                            <button type="submit" class="dropdown-item">Generate 1000</button>
                        </form>
                    </div>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-tools"></i> Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <form th:action="@{/debug/reset}" method="POST">
                            <button type="submit" class="dropdown-item text-danger">Clear (delete everything)</button>
                        </form>
                    </div>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/add}" method="POST"
                  enctype="application/x-www-form-urlencoded">
                <input class="form-control mr-sm-2" name="address" type="text" placeholder="Add a link"
                       aria-label="Add a link" th:disabled="${#authorization.expression('not hasRole(''ADMIN'')')}">
                <input name="site" type="hidden" value="0">
                <input name="version" type="hidden" value="0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                        th:disabled="${#authorization.expression('not hasRole(''ADMIN'')')}"><i class="fas fa-link"></i> Add
                </button>
            </form>
        </div>
    </nav>
</div>

</body>

</html>