<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"><title>Gem</title></head>

<body>

<div class="card">
    <div class="card-header"><strong>Congratulations!</strong></div>
    <div class="card-body">You're finished with all available links. Please check back later for more.<br /><br />Note:
        Refreshing this page won't show any potential new links.
    </div>
    <div class="card-footer">
        <small>gem.herokuapp.com</small>
    </div>
</div>

</body>

</html>