<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"><title>Gem</title></head>

<body>

<div th:replace="fragments/header :: menu"></div>

<div id="info">
    <h1>Control Panel</h1>

    <div class="container-fluid">
        <div class="row no-padding">
            <div class="col-6 text-left no-padding">
                <p>New entries: <strong th:text="${unused}">unused</strong> (<strong
                        th:text="${entries}">entries</strong> total)</p>
            </div>
            <div class="col-6 text-right no-padding">
                <a href="/?showAll=1">Show all</a> | <a href="/?showAll=0">Show only unused</a>
            </div>
        </div>
    </div>


</div>


<table class="table table-sm">
    <thead>
    <th scope="col">ID</th>
    <th scope="col">URL</th>
    <th scope="col">Site</th>
    <th scope="col">Version</th>
    <th scope="col">Added</th>
    <th scope="col">Used</th>
    <th scope="col">Toggle Used</th>
    <th scope="col">Delete</th>
    </thead>
    <tbody>

    <tr th:each="link : ${links}" th:class="${link.used == true} ? 'entry used' : ' entry unused'">
        <th scope="row"><span th:text="${link.id}">link.id</span></th>
        <td><a th:href="${link.uri}" target="_blank"><span th:text="${link.uri}" class="text-break">link.uri</span></a></td>
        <td><span th:text="${link.site}">link.site</span></td>
        <td><span th:text="${link.version}">link.version</span></td>
        <td><span th:text="${link.date}">link.date</span></td>
        <td><span th:text="${link.used}">link.used</span></td>
        <td><a th:href="'/toggle/' + ${link.id}" class="btn btn-info"><i class="fas fa-sliders-h"></i> Toggle</a></td>
        <td><a th:href="'/delete/' + ${link.id}" class="btn btn-danger"><i class="fas fa-eraser"></i> Delete</a></td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
