<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/header :: head(title = 'Index')">
    <title>Gem</title>
</head>

<body>

<div th:replace="fragments/header :: menu"></div>

<div id="info">
    <h1>Control Panel</h1>

    <div class="container-fluid">
        <div class="row no-padding">
            <div class="col-md-8 col-12 text-left no-padding" id="details">
                <p>New entries <span th:text="${unused}" class="badge badge-primary">unused</span>, total entries <span
                        th:text="${entries}" class="badge badge-secondary">entries</span>, capacity <span
                        class="badge badge-secondary">10,000</span></p>
            </div>
            <div class="col-md-4 col-12 text-md-right no-padding">
                <a href="/?showAll=true" th:classappend="${showAll} ? active-button">Show all</a> |
                <a href="/?showAll=false" th:classappend="${!showAll} ? active-button">Show only unused</a>
            </div>
        </div>
    </div>
</div>

<table class="table table-sm">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">URL</th>
        <th scope="col">Site</th>
        <th scope="col">Version</th>
        <th scope="col">Added</th>
        <th scope="col">Used</th>
        <th scope="col">Toggle Used</th>
        <th scope="col" sec:authorize="isAuthenticated()">Delete</th>
    </thead>

    <tbody>

    <tr th:each="link : ${links}" th:class="${link.used == true} ? 'entry used' : 'entry unused'">
        <th scope="row"><span th:text="${link.id}">link.id</span></th>
        <td><a th:href="${link.uri}" target="_blank"><span th:text="${link.uri}" class="text-break">link.uri</span></a>
        </td>
        <td><span th:text="${link.site}">link.site</span></td>
        <td><span th:text="${link.version}">link.version</span></td>
        <td><span th:text="${link.date}">link.date</span></td>
        <td><span th:text="${link.used}">link.used</span></td>
        <td>
            <form th:action="@{/toggle}" method="POST">
                <input type="hidden" name="id" th:value="${link.id}" />
                <button type="submit" class="btn btn-outline-info w-100"><i class="fas fa-sliders-h"></i> Toggle</button>
            </form>
        </td>
        <td sec:authorize="isAuthenticated()">
            <form th:action="@{/delete}" method="POST">
                <input type="hidden" name="id" th:value="${link.id}" />
                <button type="submit" class="btn btn-outline-danger w-100"><i class="fas fa-trash"></i> Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
